<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xshengcn.diycode">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:name=".DiyCodeApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <meta-data
        android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
        android:value="GlideModule"/>

    <activity
        android:name=".ui.main.MainActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar.Main">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ui.search.SearchActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>

    <activity
        android:name=".ui.notification.NotificationActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>

    <activity
        android:name=".ui.newsdetail.NewsDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>

    <activity
        android:name=".ui.topicdetail.TopicDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>

    <activity
        android:name=".ui.login.LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>

    <activity
        android:name=".ui.user.UserActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar.Main"/>

    <activity
        android:name=".ui.usertopic.UserTopicActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>

    <activity
        android:name=".ui.userfavorite.UserFavoriteActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>

    <activity
        android:name=".ui.userreply.UserReplyActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>

    <activity
        android:name=".ui.photo.PhotoViewerActivity"
        android:theme="@style/AppTheme.NoActionBar.Photo"/>

    <activity
        android:name=".ui.topiccreate.TopicCreatorActivity"
        android:windowSoftInputMode="adjustResize"/>

    <activity
        android:name=".ui.reply.ReplyActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustResize"/>

    <activity
        android:name=".ui.markdown.MarkdownPreviewActivity"
        android:label="@string/preview"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>
  </application>

</manifest>